<template>
  <div id="cart">
    <div v-if="books.length === 0" class="empty-tip">您的购物车现在还没有任何图书。</div>
    <form v-else action="/pay/prepare" method="post">
      <input type="hidden" name="_token" :value="token">
      <ul class="cart">
        <li>
          <div>
            <input type="checkbox" v-model="all" @change="selecteAll" />
          </div>
          <div class="table-header book-name">图书名称</div>
          <div class="table-header book-price">定价（元）</div>
          <div class="table-header amount">数量</div>
          <div class="table-header total-price">小计（元）</div>
          <div class="table-header">操作</div>
        </li>
        <li v-for="(book, index) in books" :key="book.id" :class="{ selected: book.selected }">
          <div>
            <input
              type="checkbox"
              :name="`books[${book.id}]`"
              v-model="book.selected"
              @change="checkSelectAll"
            />
          </div>
          <div class="book-name">
            <div>
              <a :href="`/book/${book.book.id}`" target="_blank">
                <img :src="book.book.img" width="120" />
              </a>
            </div>
            <div>
              <a :href="`/book/${book.book.id}`" target="_blank">{{ book.book.name }}</a>
            </div>
          </div>
          <div class="book-price">
            <span class="price">￥{{ book.book.price }}</span>
          </div>
          <div class="amount">
            <button class="amount-op" @click.prevent="decrement(book)">-</button>
            <input type="text" v-model.number="book.amount" @change="setAmount($event, book)" />
            <button class="amount-op" @click.prevent="increment(book)">+</button>
          </div>
          <div class="total-price">
            <span class="price">￥{{ (book.book.price * book.amount).toFixed(2) }}</span>
          </div>
          <div class="actions">
            <button class="btn-remove" @click.prevent="remove(book, index)">删除</button>
            &nbsp;&nbsp;
            <button class="btn-fav" @click.prevent="addToFavorite(book)">添加到收藏</button>
          </div>
        </li>
      </ul>
      <div v-if="books.length > 0" class="summary">
        <label>
          <input type="checkbox" v-model="all" @change="selecteAll" />
          <span>全选</span>
        </label>
        <a @click="removeSelected" class="remove-selected">删除选中的商品</a>
        <div class="right">
          <span>已选择</span>&nbsp;
          <span class="number">{{ selectedCount }}</span>&nbsp;
          <span>件商品，总金额</span>&nbsp;
          <span class="number">￥{{ totalPrice }}</span>
          <input
            id="submit"
            value="去结算"
            type="submit"
            :disabled="selectedCount === 0"
          >
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import Swal from 'sweetalert2'
import { get, post, retrieveToken } from '../common/fetch'

export default {
  data() {
    return {
      all: true,
      books: [],
      token: retrieveToken(),
    }
  },
  beforeMount() {
    this.fetchData()
  },
  methods: {
    async fetchData() {
      const books = await get('/shoppingCart/list')
      this.books = books.map(book => {
        book.selected = true
        book.lock = false
        return book
      })
    },
    async increment(book) {
      if (book.lock) {
        return
      } else {
        book.lock = true
      }

      try {
        const { code, amount } = await post('/shoppingCart/add', {
          book: book.book.id,
          amount: 1,
        })
        if (code === 0) {
          book.amount = amount
        }
      } finally {
        book.lock = false
      }
    },
    async decrement(book) {
      if (book.lock) {
        return
      } else {
        book.lock = true
      }

      if (book.amount - 1 <= 0) {
        book.lock = false
        return
      }

      try {
        const { code, amount } = await post('/shoppingCart/decrement', {
          id: book.id,
          amount: 1,
        })
        if (code === 0) {
          book.amount = amount
        }
      } finally {
        book.lock = false
      }
    },
    async remove(book, index) {
      const { value } = await Swal.fire({
        text: '确定要删除这个商品？',
        type: 'question',
        showCancelButton: true,
      })
      if (!value) {
        return
      }

      const { code } = await post('/shoppingCart/remove', { id: book.id })
      if (code === 0) {
        this.$delete(this.books, index)
        this.checkSelectAll()
      }
    },
    async setAmount(event, book) {
      const { code, amount } = await post('/shoppingCart/set', {
        id: book.id,
        amount: +event.target.value,
      })
      if (code === 0) {
        book.amount = amount
      }
    },
    selecteAll(event) {
      const selected = event.target.checked
      this.books.forEach(book => (book.selected = selected))
    },
    checkSelectAll() {
      this.all = this.books.every(book => book.selected)
    },
    async removeSelected() {
      const books = await Promise.all(
        this.books.map(async book => {
          if (book.selected) {
            await post('/shoppingCart/remove', { id: book.id })
          }
          return book
        })
      )
      this.books = books.filter(book => !book.selected)
      this.all = false
    },
    async addToFavorite(book) {
      const { code, message } = await post('/user/favorites/add', { book: book.book.id })
      if (code === 0) {
        Swal.fire({ type: 'success', text: '已加入收藏' })
        event.target.textContent = '取消收藏'
        event.target.setAttribute('data-fav', 'true')
      } else {
        Swal.fire({ type: 'warning', text: message })
      }
    },
  },
  computed: {
    selectedCount() {
      return this.books.reduce((total, book) => {
        return total + (book.selected ? book.amount : 0)
      }, 0)
    },
    totalPrice() {
      const price = this.books.reduce((total, book) => {
        return total + (book.selected ? book.amount : 0) * book.book.price
      }, 0)
      return price.toFixed(2)
    },
  },
}
</script>

<style lang="stylus">
@import '../../stylus/vars';

.empty-tip {
  text-align: center;
  padding: 15vh 0;
}

ul.cart {
  list-style: none;

  li {
    width: 100%;
    border: 1px solid #e7e7e7;
    border-top: none;
    display: flex;
    padding: 10px;

    & > div {
      display: flex;
      align-items: center;
    }

    input[type='checkbox'] {
      margin-right: 10px;
    }

    &.selected {
      background: #fffbf0;
    }
  }
}

.table-header {
  font-size: 12px;
  color: #333;
}

.book-name {
  font-size: 12px;
  width: 35%;
  padding-left: 10px;

  img {
    border: 1px solid #e7e7e7;
  }

  a {
    margin-left: 12px;
    color: #333;

    &:hover {
      text-decoration: underline;
    }
  }
}

.book-price {
  width: 8%;
}

.amount {
  width: 12%;

  * {
    outline: none;
  }
}

.amount > input {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  border-left: none;
  border-right: none;
  padding: 5.5px 12px;
  font-size: 13px;
  width: 20px;
}

.amount-op {
  background: white;
  height: 28px;
  width: 18px;
  border: 1px solid #e7e7e7;
  cursor: pointer;
}

.total-price {
  width: 10%;
}

.btn-remove, .btn-fav {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;

  &:hover {
    text-decoration: underline;
  }
}

.price {
  font-size: 15px;
  color: #666;
}

.summary {
  margin-top: 12px;
  width: 100%;
  background: #fafafa;
  padding: 19px 12px;

  span, a {
    font-size: 12px;

    &.number {
      font-size: 16px;
      color: brand_red;
    }
  }

  a {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .remove-selected {
    margin-left: 12%;
  }

  .right {
    float: right;
    margin-top: -15px;
  }
}

#submit {
  border: none;
  background: brand_red;
  color: white;
  font-size: 20px;
  margin-left: 10px;
  padding: 9px 10px;
  cursor: pointer;

  &[disabled] {
    background: #B0B0B0;
    cursor: not-allowed;
  }
}
</style>
