@import './vars.styl'

body
  background-color #f6f4f5

header
  border-bottom 2px solid brand_red
  background-color white

  img
    margin-left 20%
    padding 20px 0

  /.features
    float right
    margin-right 20%
    padding 20px 0

    .circle
      display inline-block
      color white
      background-color rgb(255, 40, 50)
      border-radius 50%
      text-align center
      font-size 16px
      padding 10px 12px
      margin-left 5px
      user-select none

    .text
      font-size 12px
      margin-right 19px

.login-box
  margin 20px 20% 0 20%
  padding 60px 90px
  background-color white

  h3
    padding-left 10px
    border-left 3px solid brand_red

  form
    margin-top 35px

    & > div
      width 100%
      margin 35px 0

    .key
      float left
      width 120px
      text-align right
      margin-top 8px
      padding-right 12px

    input[type="text"],
    input[type="email"],
    input[type="password"]
      padding 10px
      font-size 15px
      width 300px
      outline none
      border 1px solid #dcdcdc
      border-radius 4px
      &:focus
        border-color #666

    .submit
      padding 12px 90px
      background-color brand_red
      font-size 16px
      color white
      outline none
      border 0 solid transparent
      border-radius 4px
      cursor pointer

  .links
    margin 0 30% 0 15%
    a
      text-decoration none
      color #666a6b
      font-size 15px

.login-tip
  float right
  font-size 14px
  color #c1c1c1
  a
    text-decoration none
    color #999999

.captcha
  cursor pointer
  float right
  margin-right 20%

.error-msg
  color #e91111
