.wrapp
	width: 801px;
	height: 625px;
	background: #fff;
	
.t1
	width: 801px;
	height: 22px;
	padding: 10px 0px 10px 0px;
	margin-bottom: 20px;
	background: #eff4f9;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	color: #c00;

.t2
	font-size: 15px;
	font-weight: bold;
		
.t3
	font-size: 15px;
	line-height: 24px;
		
.t4
	font-size: 13px;
	line-height: 24px;
