@import './vars.styl'

a
  text-decoration none

.topbar
  background-color #f2f2f2
  padding 8px 17%
  font-size 12px

  a
    color brand_red
    text-decoration none

  .right
    float right

.search-area
  margin 10px 0 22px 0

.search-box
  padding 16px 0
  margin-left 20%
  & > div
    display inline-block
  & #logo
    float left
    margin-right 15px

.search
  border 2px solid brand_red
  outline none
  padding 8px
  width 450px

.search-area .submit
  margin-left -5px
  margin-top -1px
  padding 9.5px 14px
  color white
  background-color brand_red
  text-decoration none
  text-align center
  font-size 12px
  cursor pointer
  user-select none
  border none

.title
  background: #eff4f9;
  font-weight: bold;
  color: CC0000;
  text-align: center;

.about
  background: #eff4f9;
  font-weight: bold;
  font-size: 12px
  line-height: 40px;
  height 40px

.aboutPage p
  width 330px
  font-size: 12px

.header-nav
  border-bottom 2px solid #e60000
  padding 0 17%

  .nav-items
    display flex
    justify-content space-between

    & > a
      padding 8px 20px
      color black
      text-decoration none
      &:hover
        color brand_red

    & > .active
      font-weight bold
      color brand_red

footer
  width 83%
  background #f5f5f5
  color #666
  padding-left 17%
  margin-top 40px

  dl
    float left
    margin 25px 50px 30px 0px
    text-indent 20px
    font-size 12px
    line-height 24px

  dt
    font-weight bold
    font-size 15px

  a
    color #666

    &:hover
      color brand_red

.logout-form
  display inline

.btn-logout
  border none
  color brand_red
  background transparent
  cursor pointer
  outline none

#bottomBar
  width 75%
  margin-bottom 20px

.content
  margin 0 17%

.pagination
  list-style none
  margin-top 15px
  padding 15px 0

  li
    float left
    .page-link
      padding 8px 12px
      margin-right 5px
      color #606266
      background #f4f4f5
    &.active .page-link
      background #409eff
      color #fff
    &.disabled .page-link
      color #c0c4cc
    &:not(.active):not(.disabled):hover .page-link
      color #409eff
