@import './common'

.breadcrumb
  margin 10px 0 0 20px
  display flex
  .breadcrumb-item
    font-size 12px
    margin-right 7px
    color #666
    a
      color #666
    &.separator
      margin-top 2px

.detail
  display flex
  .book-img
    padding 30px
    margin 20px
    border 1px solid #e7e7e7
  img
    width 200px
  .book-info
    margin-top 10px
  .book-name
    font-size 18px
    padding 10px 0
  .book-meta
    font-size 12px
    p
      line-height 24px
    a
      color #024f7d
      &:hover
        text-decoration underline
  .price
    color brand_red
    font-size 20px
  .actions
    margin-top 20px
  .actions > button
    outline none
    border none
    border-radius 5px
    cursor pointer
    padding 7px 35px
  /#to-cart
    font-size 16px
    color #fff
    background brand_red
    &:hover
      opacity 0.7
  /#to-fav
    font-size 14px
    color brand_red
    background #fff
    border 1px solid brand_red
    margin-left 10px
    &:hover
      background #ffe5e5

.main-content
  display flex

.book-tab
  position sticky
  top 0
  width 66vw
  margin 12px 0 25px 0
  box-shadow 0px 3px 30px #ddd
  background #fff
  display flex

  & > div
    padding 15px 35px
    cursor pointer
    border-top 4px solid #3b3b3b
    margin-right 10px

  .active
    background #3b3b3b
    color #fff

.detail-content
  padding 0 5px
  ul, ol
    padding 0 15px

.hidden
  display none

.you-may-like
  margin-top 15px

  .title
    font-size 22px
    width 66vw
    background #e1f7ff
    border-bottom 3px solid #07bafd
    text-align left
    padding 9px 18px

  ul
    margin-top 5px
    display flex
    flex-wrap wrap
    list-style none

  li
    padding 15px 10px
    margin-right 10px
    border 2px solid #fff
    display flex
    flex-direction column
    align-items center
    &:hover
      border 2px solid #e9e9e9
    & > a
      display flex
      flex-direction column
      align-items center

  img
    max-width 120px
    display block

  .book-name, .author
    font-size 12px
    margin 5px 0

  .book-name
    color #000

  .author
    color #666
    text-align center
    width 10vw
    word-break break-all
    white-space pre-wrap

  .price
    font-size 18px
    color brand_red

  .to-cart
    outline none
    border none
    background #e1f7ff
    color #666
    text-align center
    width 120px
    padding 4px
    margin-top 7px
    &:hover
      cursor pointer
      background brand_red
      color #fff

.comments-list
  list-style none
  padding 0 12px
  li
    padding 15px 24px
    border-bottom 1px solid #e6e6e6

  .meta
    font-weight bold

  .comment-content
    margin 10px 0
    color #666
    font-size 13px

  time
    color #999
    font-size 12px

.rating-bad
  color red
.rating-medium
  color orange
.rating-good
  color green

.comments > form
  padding 15px 5%

  .heading
    font-weight bold
    margin-bottom 12px

  textarea
    min-width 98%
    max-width 98%
    min-height 50px
    max-height 300px
    padding 10px
    font-size 13px
    border 1px solid #999
    &:focus
      border 1px solid #333

  .ratings
    margin-top 10px

    & > label
      margin-right 10px

  input[type="submit"]
    background-color brand_red
    color #fff
    border none
    border-radius 2px
    outline none
    padding 7px 17px
    cursor pointer
    float right

  .errors
    color brand_red
    margin-top 7px
