@import './common.styl'

.topbar
  padding 8px 12%

.header-nav
  padding 0 12%

.search-box
  margin-left 25%

ul
  list-style none

.search-recommendation
  margin-top 5px
  display flex
  li
    margin-right 15px
  a
    color #777
    font-size 12px

.category-dropdown
  background-color brand_red
  color white
  padding 8px 75px

.main-content
  margin-left 12%

.heading-section
  display flex

.categories
  border 1px solid brand_red
  margin-right 5px
  width 212px
  height 540px
  & > li
    border-bottom 1px dashed brand_red
  & > li:hover .second-level-categories
    display block
  & > li > a
    display inline-block
    padding 8px 0 8px 10px
    width 100%
    color brand_red
    img[alt="right_arrow"]
      float right
      width 16px
      margin-right 16px
  a:hover
    text-decoration underline
  .snd-level
    display flex
    flex-wrap wrap
    margin-bottom 8px
    a
      color #666
      font-size 12px
      margin-left 12px
      &:hover
        text-decoration underline
        color brand_red
  .second-level-categories
    position absolute
    display none
    width 400px
    min-height calc(400px - 2px - 2 * 12px)
    left 423px
    top 173px
    background #fff
    border 2px solid brand_red
    border-left-width 1px
    padding 12px
    & > ul > li
      padding-bottom 8px
      &:not(:first-child)
        padding-top 8px
      border-bottom 1px dashed brand_red
    & > ul > li > p
      margin-bottom 9px
      & > a
        color brand_red
        font-size 13px
        &:hover
          text-decoration underline
    .tri
      color #555
      font-size 13px
      margin-right 9px

.banner
  .banner-picture > img
    width 100%
  .banner-links
    width 100%
    display flex
    margin-top -5px
  .banner-title
    cursor pointer
    width 20%
    line-height 34px
    text-align center
    height 34px
    padding 0 10px 0 10px
    background #494b4c
    color white
    font-size 13px
    &:hover
      background brand_red
      color white

#recommendation
  margin-top 5px
  padding 10px
  background #eff2fa
  width 98%
  ul
    display flex
    li
      padding 7px 20px
      border-top 3px solid transparent
      cursor pointer
      &.active
        color brand_red
        background #fff
        border-top 3px solid brand_red
  .rec-content
    width calc(100% - 15px * 2)
    background #fff
    padding 12px 15px
    &.hide
      display none
    .first
      display flex
      padding-bottom 20px
      border-bottom 1px solid #eff2fa
      height 23vh
      .cover
        margin-left 17px
      .book-info
        margin-top 15px
      .book-name
        font-size 16px
        color #000
        &:hover
          color brand_red
      .price
        font-size 18px
        color brand_red
        margin 8px 0 0 -3px
      .description
        color #666
        font-size 12px
        margin-top 3px
        width 48vw
        word-break break-all
        white-space pre-wrap
    .rest
      list-style none
      display flex
      flex-wrap wrap
      height 39vh
      .book-name
        font-size 13px
        color #333
        width 8vw
        word-break break-all
        white-space pre-wrap
        &:hover
          color brand_red
      .price
        color brand_red
        margin-top 4px
    .cover
      min-width 120px
      max-width 120px
      margin-right 25px
      display block
      img
        width 100%
