@import './common'

.books-list
  margin-top 20px
  list-style none

  li
    display flex
    border 1px solid #fff
    border-bottom-color #e9e9e9
    padding 20px 30px 20px 20px
    &:hover
      border 1px solid #e9e9e9
      outline 1px solid #e9e9e9

  .cover
    min-width 130px
    max-width 130px
    margin-right 20px
    img
      width 100%

  .book-info
    height 88%
    display flex
    flex-direction column
    justify-content space-between

  .book-name
    color #0080cc
    font-size 16px
    margin-bottom 5px
    &:hover
      text-decoration underline

  .book-meta
    color #999
    font-size 12px
    margin 4px 0

  .price
    color brand_red
    font-size 18px
    margin 4px 0

  .description
    color #666
    font-size 12px
    margin 4px 0

  .btn
    border none
    padding 7px 15px
    border-radius 5px
    text-align center
    cursor pointer
    outline none

  .btn-add-to-cart
    background brand_red
    color white

  .btn-fav
    background white
    border 1px solid #999
    color #999
