@import './common'

form
  margin-top 12px
  h3
    margin-left 9px

.validation-error
  margin 6px 0 0 15px
  color brand_red

.contact
  & > div
    padding 10px 0
  .link-to-addresses
    color brand_red
    font-size 13px
    display inline-block
    margin 8px 0 0 10px
    &:hover
      text-decoration underline
  input
    border 1px solid #e9e9e9
    border-radius 2px
    padding 7px 11px
    font-size 16px
    width 25vw
    &:focus
      border 1px solid #666
  label > span
    display inline-block
    min-width 100px
    text-align right
    font-size 13px
  .presets
    margin-top 10px
    list-style none
    display flex
    flex-wrap wrap
    font-size 13px
    color #444
    li
      padding 18px
      margin-right 20px
      cursor pointer
      border 3px solid #eee
      &:hover
        border-color #ccc
      &.active
        border-color brand_red
    p
      margin-bottom 4px

ul.books
  margin-top 20px
  list-style none

  li
    display flex
    width 100%
    border 1px solid #e7e7e7
    border-top none
    padding 10px
    & > div
      display flex
      align-items center
      font-size 12px
    &:first-child
      border 1px solid #e7e7e7

  .table-header
    color #333

  .book-name
    font-size 12px
    width 35%
    padding-left 10px

    img
      border 1px solid #e7e7e7
      max-width 120px

    a
      margin-left 12px
      color #333

      &:hover
        text-decoration underline

  .book-price
    width 8%

  .amount
    width 12%

  .book-price:not(.table-header), .total-price:not(.table-header)
    color brand_red
    font-size 18px

.summary
  margin-top 15px
  display flex
  justify-content space-between

  .price
    font-size 18px
    color brand_red

  .fee-tip
    font-size 12px
    color #666

  input[type="submit"]
    float right
    border none
    outline none
    background brand_red
    color #fff
    padding 7px 19px
    margin-right -21px
    cursor pointer

.order-created
  text-align center
  padding 12vh 0
  a
    color brand_red
