@import './vars.styl'

.right-nav
  position fixed
  right 0
  top 400px

  .right-nav-item
    height 42px
    position relative

    .nav-item-icon
      width 42px
      height 42px
      position relative
      text-align center
      background #999999

    .nav-item-text
      width 60px
      height 42px
      position relative
      text-align center
      line-height 20px
      display none
      background brand_red
      margin-top -42px
      margin-left -56px

    &:hover .nav-item-icon
      display block
      background brand_red

    &:hover .nav-item-text
      display block
      color brand_red

  a
    font-size 11px
    text-decoration none
    color white
    text-align center
    display block
    padding-top 10px
