@import './common.styl'

.content
  margin 0 17%
  display flex
  padding-top 10px

h3
  font-weight bold
  color brand_red
  text-align center
  padding 10px 0
  margin 0 0 20px 0
  background #eff4f9

.answer
  font-size 12px

.sidebar
  border 1px solid #dee6f3
  margin-right 16px
  max-height 360px

  ul
    width 200px
    list-style none

    & li
      font-size 14px
      padding 5px 8px
      border-top 1px solid #dee6f3
      &:first-child
        background #dee6f3
        font-weight bold
        color #757A7F

  a
    color black
    &:hover
      color #f37114
      text-decoration underline
  a.active
    font-weight bold
