@import './common'

list_border = 1px solid #bbb

.cover
  max-width 70px
  border 1px solid #aaa
  margin-right 15px

#orders
  list-style none
  margin-top 25px
  width calc(66vw - 200px)
  font-size 13px
  & > li
    border list_border
    padding 8px 10px
    margin-bottom 15px
  .order-meta
    display flex
    justify-content space-between
    padding-bottom 5px
    border-bottom list_border
  .price
    color brand_red
    font-size 15px

.detail
  display flex
  align-items center
  color #333
  .link-detail
    margin-left 20px
    color #333
    &:hover
      text-decoration underline
  .btn-cancel
    outline none
    border none
    background none
    margin-left 20px
    color brand_red
    cursor pointer
    &:hover
      text-decoration underline

.books
  list-style none
  margin-left 15px
  width 60%
  li
    display flex
    align-items center
    color #333
    padding 8px 10px
  .book-name
    color #333
    &:hover
      text-decoration underline

#detail-page
  margin-top 20px
  p
    margin 5px 0
    font-size 13px

  .detail-books
    list-style none
    border list_border
    width calc(66vw - 500px)
    li
      padding 12px 10px
      display flex
      align-items center
      font-size 13px
      color #333
      a
        color #333
        &:hover
          text-decoration underline
    li:not(:last-child)
      border-bottom list_border
    .book-name
      width 62%
    .price
      margin-left 30px
      color brand_red
      font-size 14px
