@import './common'

.content
  display flex
  margin-top 5px

.user-nav
  list-style none
  margin 20px 10px 0 0

  a
    display block
    width 150px
    padding 8px
    margin-top 3px
    background #eee
    color brand_red
    font-size 13px
  li.active a
    background brand_red
    color #fff
