@import './common'

.container
  width calc(66vw - 300px)
  border 1px solid #999
  padding 7px 15px
  margin-bottom 20px
  h4
    color brand_red
  p
    font-size 13px
    padding 4px 0
  label
    font-size 13px
    display block
    margin 5px 0
    span
      display inline-block
      min-width 120px

main
  margin-top 20px

  .message
    color brand_red
    margin-bottom 10px

  input, button
    margin-top 5px

  input[type="text"],
  input[type="password"]
    padding 5px 8px
    font-size 13px

  button,
  input[type="submit"]
    outline none
    border none
    background brand_red
    color #fff
    padding 8px 13px
    cursor pointer
