<template>
  <el-container class="main-container">
    <el-header>
      <el-row :gutter="20">
        <el-col :span="6">淘书网管理系统</el-col>
        <el-col :span="2" :offset="15">
          <el-link href="/" :underline="false">返回网站首页</el-link>
        </el-col>
        <el-col :span="1">
          <form action="/auth/logout" method="post">
            <input type="hidden" name="_token" :value="csrfToken">
            <el-button type="text" native-type="submit">注销</el-button>
          </form>
        </el-col>
      </el-row>
    </el-header>

    <el-container>
      <el-aside class="left-side" width="200px">
        <el-menu :router="true" :default-active="$route.path">
          <el-menu-item index="/users">用户管理</el-menu-item>
          <el-menu-item index="/books">图书管理</el-menu-item>
          <el-menu-item index="/categories">分类管理</el-menu-item>
          <el-menu-item index="/orders">订单管理</el-menu-item>
          <el-menu-item index="/comments">评论管理</el-menu-item>
        </el-menu>
      </el-aside>

      <el-main><router-view /></el-main>
    </el-container>
  </el-container>
</template>

<script>
import { retrieveToken } from '../common/fetch'

export default {
  data() {
    return {
      csrfToken: retrieveToken(),
    }
  },
}
</script>

<style lang="stylus">
*
  margin 0
  padding 0
  font-family "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif

.main-container
  height 100vh

.el-header
  background-color #B3C0D1
  color #333
  line-height 60px

.left-side
  min-height calc(100vh - 60px)
  background-color rgb(238, 241, 246)
  a
    text-decoration none
</style>
