<template>
  <div>
    <router-link to="/books/add">
      <el-button class="btn-add" type="primary">添加图书</el-button>
    </router-link>
    <el-table :data="books" stripe border>
      <el-table-column prop="id" label="ID" width="70" />
      <el-table-column prop="name" label="书名" />
      <el-table-column prop="price" label="价格" width="80" />
      <el-table-column prop="amount" label="库存量" width="80" />
      <el-table-column prop="author" label="作者" width="100"/>
      <el-table-column prop="isbn" label="ISBN" width="130" />
      <el-table-column prop="publisher" label="出版社" />
      <el-table-column prop="publish_time" label="出版日期" width="100" />
      <el-table-column prop="category_name" label="所属分类" />
      <el-table-column label="操作" width="200">
        <template #default="scope">
          <router-link :to="`/books/edit/${scope.row.id}`">
            <el-button>编辑</el-button>
          </router-link>
          <el-button type="danger" @click="remove(scope.row.id, scope.$index)">
            删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      background
      :total="total"
      @prev-click="prevPage"
      @next-click="nextPage"
      @current-change="jumpPage"
    />
  </div>
</template>

<script>
import { get, post } from '../common/fetch'

export default {
  data() {
    return {
      books: [],
      total: 0,
      prevLink: '',
      nextLink: '',
    }
  },
  methods: {
    async fetchData(link = '/admin/books/list') {
      const response = await get(link)
      this.books = response.data
      this.total = response.total
      this.prevLink = response.prev_page_url
      this.nextLink = response.next_page_url
    },
    prevPage() {
      this.fetchData(this.prevLink)
    },
    nextPage() {
      this.fetchData(this.nextLink)
    },
    jumpPage(page) {
      this.fetchData(`/admin/books/list?page=${page}`)
    },
    async remove(id, index) {
      try {
        await this.$confirm('确定删除这条记录吗？', { type: 'warning' })
      } catch {
        return
      }

      const { code } = await post('/admin/books/remove', { id })
      if (code === 0) {
        this.$delete(this.books, index)
      }
    },
  },
  beforeMount() {
    this.fetchData()
  },
}
</script>

<style lang="stylus" scoped>
.btn-add
  margin-bottom 10px

.el-pagination
  margin-top 10px
</style>
