<template>
  <div>
    <el-form label-width="80px">
      <el-row>
        <el-col :span="12">
          <el-form-item label="图书名称" required>
            <el-input v-model="name" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="作者" required>
            <el-input v-model="author" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="价格" required>
            <el-input-number v-model="price" :percision="2" :min="0" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="库存量" required>
            <el-input-number v-model="amount" :min="0" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="分类" required>
            <el-cascader
              v-model="category_id"
              :options="categories"
              :show-all-levels="false"
              :props="cascaderProps"
            />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="ISBN" required>
            <el-input v-model="isbn" minlength="13" maxlength="13" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="出版日期" required>
            <el-date-picker
              v-model="publish_time"
              :clearable="false"
              value-format="yyyy-MM-dd"
            />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="出版社" required>
            <el-input v-model="publisher" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-form-item label="书本封面">
        <el-upload
          list-type="picture"
          action="/admin/books/cover"
          :headers="{ 'X-CSRF-TOKEN': csrfToken }"
          :data="{ id }"
          accept="image/png, image/jpeg"
          :file-list="cover"
          with-credentials
        >
          <el-button size="small" type="primary">选择文件</el-button>
        </el-upload>
      </el-form-item>
      <el-form-item label="简介">
        <el-input v-model="description" type="textarea" :rows="4" />
      </el-form-item>
      <el-form-item label="详细内容">
        <ckeditor :editor="editor" v-model="detail" :config="editorConfig" />
      </el-form-item>
      <div class="operations">
        <el-button type="primary" class="btn-save" @click="save">保存</el-button>
        <router-link to="/books">
          <el-button>返回列表</el-button>
        </router-link>
      </div>
    </el-form>
  </div>
</template>

<script>
import Vue from 'vue'
import CKEditor from '@ckeditor/ckeditor5-vue'
import ClassicEditor from '@ckeditor/ckeditor5-build-classic'
import '@ckeditor/ckeditor5-build-classic/build/translations/zh-cn'
import { get, post, retrieveToken } from '../common/fetch'

Vue.use(CKEditor)

export default {
  data() {
    return {
      id: +(this.$route.params.id || 0),
      name: '',
      author: '',
      amount: 0,
      price: 0,
      category_id: 0,
      isbn: '',
      publisher: '',
      publish_time: '',
      cover: [],
      description: '',
      detail: '',
      categories: [{ id: 0, name: '未分类' }],
      editor: ClassicEditor,
      editorConfig: {
        language: 'zh-cn',
      },
      cascaderProps: {
        expandTrigger: 'hover',
        label: 'name',
        value: 'id',
        checkStrictly: true,
        emitPath: false
      },
      csrfToken: retrieveToken(),
    }
  },
  methods: {
    async fetchData() {
      if (this.id === 0) {
        return
      }

      const book = await get(`/admin/books/info?id=${this.id}`)
      Object.assign(this.$data, book)
    },
    async save() {
      const data = {
        id: this.id,
        name: this.name,
        author: this.author,
        amount: this.amount,
        price: this.price,
        category_id: this.category_id,
        isbn: this.isbn,
        publisher: this.publisher,
        publish_time: typeof this.publish_time === 'string'
          ? this.publish_time
          : [
            [
              this.publish_time.getFullYear(),
              this.publish_time.getMonth() + 1,
              this.publish_time.getDate(),
            ].join('-'),
            [
              this.publish_time.getHours(),
              this.publish_time.getMinutes(),
              this.publish_time.getSeconds(),
            ].join(':')
          ].join(' '),
        img: this.img,
        description: this.description,
        detail: this.detail,
      }

      let code, message
      if (this.id === 0) {
        const response = await post('/admin/books/add', data)
        code = response.code
        message = response.message
        if (code === 0) {
          this.id = response.id
        }
      } else {
        ({ code, message } = await post('/admin/books/update', data))
      }

      if (code === 0) {
        this.$message.success('保存成功')
      } else {
        this.$message.error(message)
      }
    },
    async fetchCategories() {
      function visit(node) {
        if (node.children.length === 0) {
          delete node.children
        } else {
          node.children = node.children.map(visit)
        }

        return node
      }

      const trees = await get('/admin/categories/all-trees')
      this.categories = trees.map(visit)
      this.categories.unshift({ id: 0, name: '未分类' })
    },
  },
  beforeMount() {
    this.fetchCategories()
    this.fetchData()
  },
}
</script>

<style lang="stylus" scoped>
.operations
  text-align right

.btn-save
  margin-right 20px
</style>
