<template>
  <div>
    <el-button class="btn-add" type="primary" @click="add">添加分类</el-button>
    <el-table :data="categories" stripe border>
      <el-table-column prop="id" label="ID" />
      <el-table-column prop="name" label="分类名称" />
      <el-table-column prop="parent_id" label="父分类 ID" />
      <el-table-column label="操作" width="450">
        <template #default="scope">
          <el-button @click="showAncestors(scope.row)">查看父级关系</el-button>
          <el-button @click="showTree(scope.row)">查看子分类</el-button>
          <el-button @click="edit(scope.row, scope.$index)">编辑</el-button>
          <el-button type="danger" @click="remove(scope.row, scope.$index)">
            删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog
      :title="dialog.mode === 'add' ? '添加分类' : '编辑分类'"
      :visible.sync="dialog.open"
    >
      <el-form v-model="dialog">
        <el-form-item label="分类名" label-width="120px" required>
          <el-input v-model="dialog.name" autocomplete="off" class="dialog-input" />
        </el-form-item>
        <el-form-item label="父分类" label-width="120px" required>
          <el-cascader
            v-model="dialog.parent"
            :options="categoriesOptions"
            :show-all-levels="false"
            :props="cascaderProps"
          />
        </el-form-item>
      </el-form>
      <template #footer class="dialog-footer">
        <el-button
          type="primary"
          @click="dialog.mode === 'add' ? submitAdd() : submitEdit()"
        >确定</el-button>
        <el-button @click="dialog.open = false">取消</el-button>
      </template>
    </el-dialog>
    <el-dialog title="分类详情" :visible.sync="openTree">
      <el-tree :data="tree" :props="{ label: 'name' }" />
    </el-dialog>
    <el-dialog title="父级关系" :visible.sync="openAncestors">
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item v-for="ancestor in ancestors" :key="ancestor.id">
          {{ ancestor.name }}
        </el-breadcrumb-item>
      </el-breadcrumb>
    </el-dialog>
  </div>
</template>

<script>
import { get, post } from '../common/fetch'

export default {
  data() {
    return {
      categories: [],
      dialog: {
        mode: 'add',
        open: false,
        index: -1,
        id: 0,
        name: '',
        parent: 0,
      },
      tree: {},
      openTree: false,
      ancestors: [],
      openAncestors: false,
      categoriesOptions: [],
      cascaderProps: {
        expandTrigger: 'hover',
        label: 'name',
        value: 'id',
        checkStrictly: true,
        emitPath: false
      },
    }
  },
  beforeMount() {
    this.fetchData()
  },
  methods: {
    async fetchData() {
      this.categories = await get('/admin/categories/list')
    },
    add() {
      this.fetchCategories()
      this.dialog.mode = 'add'
      this.dialog.index = -1
      this.dialog.id = -1
      this.dialog.name = ''
      this.dialog.parent = 0
      this.dialog.open = true
    },
    async submitAdd() {
      const { code, message, category } = await post('/admin/categories/add', {
        name: this.dialog.name,
        parent: this.dialog.parent,
      })
      this.dialog.open = false
      if (code === 0) {
        this.$message.success('添加成功')
        this.categories.push(category)
      } else {
        this.$message.warning(message)
      }
    },
    edit(category, index) {
      this.fetchCategories()
      this.dialog.mode = 'edit'
      this.dialog.index = index
      this.dialog.id = category.id
      this.dialog.name = category.name
      this.dialog.parent = category.parent_id
      this.dialog.open = true
    },
    async submitEdit() {
      const { code, message } = await post('/admin/categories/update', {
        id: this.dialog.id,
        name: this.dialog.name,
        parent: this.dialog.parent,
      })
      this.dialog.open = false
      if (code === 0) {
        this.$message.success('修改成功')
        this.categories[this.dialog.index].name = this.dialog.name
        this.categories[this.dialog.index].parent_id = this.dialog.parent
      } else {
        this.$message.warning(message)
      }
    },
    async fetchCategories() {
      function visit(node) {
        if (node.children.length === 0) {
          delete node.children
        } else {
          node.children = node.children.map(visit)
        }

        return node
      }

      const trees = await get('/admin/categories/all-trees')
      this.categoriesOptions = trees.map(visit)
      this.categoriesOptions.unshift({ id: 0, name: '未分类' })
    },
    async remove(category, index) {
      try {
        await this.$confirm(`确定要删除分类「${category.name}」吗？`, {
          type: 'warning',
        })
      } catch {
        return
      }

      const { code, message } = await post('/admin/categories/remove', {
        id: category.id,
      })
      if (code === 0) {
        this.$message.success('删除成功')
        this.$delete(this.categories, index)
      } else {
        this.$message.warning(message)
      }
    },
    async showTree(category) {
      this.tree = await get(`/admin/categories/tree?id=${category.id}`)
      this.openTree = true
    },
    async showAncestors(category) {
      this.ancestors = await get(`/admin/categories/ancestors?id=${category.id}`)
      this.openAncestors = true
    },
  },
}
</script>

<style lang="stylus" scoped>
.dialog-input
  width 60%

.btn-add
  margin-bottom 10px
</style>
