<template>
  <div>
    <el-table :data="comments" stripe border>
      <el-table-column prop="user_id" label="评论者 ID" width="120" />
      <el-table-column prop="book_id" label="图书 ID" width="120" />
      <el-table-column prop="content" label="内容">
        <template #default="{ row: { content } }">
          <span v-for="(line, i) in content.split('\n')" :key="i">
            {{ line }}
            <br>
          </span>
        </template>
      </el-table-column>
      <el-table-column prop="rating" label="评级" width="160">
        <template #default="{ row, $index }">
          <el-select :value="row.rating" @change="updateRating($event, $index)">
            <el-option
              v-for="option in ratingOptions"
              :key="option.value"
              :value="option.value"
              :label="option.label"
            />
          </el-select>
        </template>
      </el-table-column>
      <el-table-column label="操作" width="190">
        <template #default="{ row, $index }">
          <el-button @click="edit(row, $index)">编辑</el-button>
          <el-button type="danger" @click="deleteComment($index)">
            删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      background
      :total="total"
      @prev-click="prevPage"
      @next-click="nextPage"
      @current-change="jumpPage"
    />
    <el-dialog title="编辑评论内容" :visible.sync="dialog.open">
      <el-input v-model="dialog.content" type="textarea" rows="6" />
      <template #footer>
        <el-button type="primary" @click="submitContent">确定</el-button>
        <el-button @click="dialog.open = false">取消</el-button>
      </template>
    </el-dialog>
  </div>
</template>

<script>
import { get, post } from '../common/fetch'

export default {
  data() {
    return {
      comments: [],
      total: 0,
      prevLink: '',
      nextLink: '',
      ratingOptions: [
        { value: 'bad', label: '差评' },
        { value: 'medium', label: '中评' },
        { value: 'good', label: '好评' },
      ],
      dialog: {
        open: false,
        index: -1,
        id: 0,
        content: '',
      },
    }
  },
  methods: {
    async fetchData(link = '/admin/comments/list') {
      const response = await get(link)
      this.comments = response.data
      this.total = response.total
      this.prevLink = response.prev_page_url
      this.nextLink = response.next_page_url
    },
    prevPage() {
      this.fetchData(this.prevLink)
    },
    nextPage() {
      this.fetchData(this.nextLink)
    },
    jumpPage(page) {
      this.fetchData(`/admin/comments/list?page=${page}`)
    },
    edit(comment, index) {
      this.dialog.index = index
      this.dialog.id = comment.id
      this.dialog.content = comment.content
      this.dialog.open = true
    },
    async submitContent() {
      const { code, message } = await post(
        '/admin/comments/content',
        { id: this.dialog.id, content: this.dialog.content }
      )

      if (code === 0) {
        this.comments[this.dialog.index].content = this.dialog.content
        this.dialog.open = false
        this.$message.success('评论内容更新成功')
      } else {
        this.$message.error(message)
      }
    },
    async updateRating(rating, index) {
      const { code, message } = await post(
        '/admin/comments/rating',
        { id: this.comments[index].id, rating }
      )

      if (code === 0) {
        this.comments[index].rating = rating
        this.$message.success('评级更新成功')
      } else {
        this.$message.error(message)
      }
    },
    async deleteComment(index) {
      try {
        await this.$confirm(
          '确定要删除这条评论吗？此操作不可撤销。',
          { type: 'warning' }
        )
      } catch {
        return
      }

      const { code, message } = await post(
        '/admin/comments/delete',
        { id: this.comments[index].id }
      )
      if (code === 0) {
        this.$delete(this.comments, index)
        this.$message.success('评论已删除')
      } else {
        this.$message.error(message)
      }
    },
  },
  beforeMount() {
    this.fetchData()
  },
}
</script>

<style lang="stylus" scoped>
.el-pagination
  margin-top 10px
</style>
