<template>
  <div>
    <el-table :data="orders" stripe border @expand-change="fetchBooks">
      <el-table-column type="expand" label="详情" width="50">
        <template #default="{ row }">
          <el-table :data="row.books">
            <el-table-column prop="id" label="图书 ID" />
            <el-table-column prop="name" label="图书名称" />
            <el-table-column prop="price" label="单价" />
            <el-table-column prop="pivot.amount" label="数量" />
            <el-table-column label="小计">
              <template #default="{ row }">
                {{ row.price * row.pivot.amount }}
              </template>
            </el-table-column>
          </el-table>
        </template>
      </el-table-column>
      <el-table-column prop="id" label="订单号" width="90" />
      <el-table-column prop="contact_name" label="收货人姓名" width="110" />
      <el-table-column prop="phone" label="联系电话" width="120" />
      <el-table-column prop="user_id" label="用户 ID" width="80" />
      <el-table-column prop="address" label="收货地址" />
      <el-table-column prop="created_at" label="订单创建时间" width="160" />
      <el-table-column prop="paid_at" label="付款时间" width="160" />
      <el-table-column prop="price" label="金额" width="90" />
      <el-table-column prop="status" label="订单状态" width="140">
        <template #default="{ row: { status }, $index }">
          <span
            v-if="status === 'cancelled'"
            class="text-cancelled"
          >已取消</span>
          <el-select
            v-else
            :value="status"
            @change="updateStatus($event, $index)"
          >
            <el-option
              v-for="option in statusOptions"
              :key="option.value"
              :label="option.label"
              :value="option.value"
            />
          </el-select>
        </template>
      </el-table-column>
      <el-table-column label="操作" width="120">
        <template #default="{ row: { status }, $index }">
          <el-button
            type="danger"
            :disabled="status === 'cancelled'"
            @click="cancel($index)"
          >取消订单</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      background
      :total="total"
      @prev-click="prevPage"
      @next-click="nextPage"
      @current-change="jumpPage"
    />
  </div>
</template>

<script>
import { get, post } from '../common/fetch'

export default {
  data() {
    return {
      orders: [],
      total: 0,
      prevLink: '',
      nextLink: '',
      statusOptions: [
        { value: 'paying', label: '待付款' },
        { value: 'paid', label: '待发货' },
        { value: 'shipping', label: '正在发货' },
        { value: 'received', label: '已收货' },
      ],
    }
  },
  methods: {
    async fetchData(link = '/admin/orders/list') {
      const response = await get(link)
      this.orders = response.data.map(
        item => Object.assign(item, { books: [] })
      )
      this.total = response.total
      this.prevLink = response.prev_page_url
      this.nextLink = response.next_page_url
    },
    prevPage() {
      this.fetchData(this.prevLink)
    },
    nextPage() {
      this.fetchData(this.nextLink)
    },
    jumpPage(page) {
      this.fetchData(`/admin/orders/list?page=${page}`)
    },
    async updateStatus(status, index) {
      const { code, message } = await post(
        '/admin/orders/update',
        { id: this.orders[index].id, status }
      )

      if (code === 0) {
        this.$message.success('订单状态已更新')
        this.orders[index].status = status
      } else {
        this.$message.error(message)
      }
    },
    async cancel(index) {
      try {
        await this.$confirm(
          '确定要取消订单吗？此操作不可撤销。',
          { type: 'warning' }
        )
      } catch {
        return
      }

      const { code } = await post(
        '/admin/orders/cancel',
        { id: this.orders[index].id }
      )
      if (code === 0) {
        this.orders[index].status = 'cancelled'
      }
    },
    async fetchBooks(row) {
      if (row.books.length > 0) {
        return
      }

      row.books = await get(`/admin/orders/books?id=${row.id}`)
    },
  },
  beforeMount() {
    this.fetchData()
  },
}
</script>

<style lang="stylus" scoped>
.el-pagination
  margin-top 10px

.text-cancelled
  padding-left 16px
</style>
