<template>
  <div>
    <el-table :data="users" stripe border>
      <el-table-column prop="id" label="用户 ID" />
      <el-table-column prop="username" label="用户名" />
      <el-table-column prop="email" label="邮箱地址" />
      <el-table-column label="操作">
        <template #default="{ row, $index }">
          <el-button @click="openEditDialog(row, $index)">
            编辑
          </el-button>
          <el-button
            type="danger"
            :disabled="row.is_admin"
            @click="deleteUser($index)"
          >删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      background
      :total="total"
      @prev-click="prevPage"
      @next-click="nextPage"
      @current-change="jumpPage"
    />
    <el-dialog
      v-model="dialog"
      :visible.sync="dialog.open"
      title="编辑用户信息"
    >
      <el-form>
        <el-form-item label="用户名" label-width="120px" required>
          <el-input v-model="dialog.username" />
        </el-form-item>
        <el-form-item label="邮箱地址" label-width="120px" required>
          <el-input v-model="dialog.email" />
        </el-form-item>
        <el-form-item label="密码" label-width="120px">
          <el-input
            v-model="dialog.password"
            placeholder="如果不需要更改密码，留空即可"
            type="password"
            :disabled="dialog.isAdmin"
          />
        </el-form-item>
      </el-form>
      <template #footer>
        <el-button type="primary" @click="saveUser">保存</el-button>
        <el-button @click="dialog.open = false">取消</el-button>
      </template>
    </el-dialog>
  </div>
</template>

<script>
import { get, post } from '../common/fetch'

export default {
  data() {
    return {
      users: [],
      total: 0,
      prevLink: '',
      nextLink: '',
      dialog: {
        open: false,
        index: -1,
        id: 0,
        isAdmin: false,
        username: '',
        email: '',
        password: '',
      },
    }
  },
  methods: {
    async fetchData(link = '/admin/users/list') {
      const response = await get(link)
      this.users = response.data
      this.total = response.total
      this.prevLink = response.prev_page_url
      this.nextLink = response.next_page_url
    },
    prevPage() {
      this.fetchData(this.prevLink)
    },
    nextPage() {
      this.fetchData(this.nextLink)
    },
    jumpPage(page) {
      this.fetchData(`/admin/users/list?page=${page}`)
    },
    openEditDialog(user, index) {
      this.dialog.index = index
      this.dialog.id = user.id
      this.dialog.isAdmin = user.is_admin
      this.dialog.username = user.username
      this.dialog.email = user.email
      this.dialog.password = ''
      this.dialog.open = true
    },
    async saveUser() {
      const data = {
        id: this.dialog.id,
        username: this.dialog.username,
        password: this.dialog.password,
      }
      if (this.dialog.email !== this.users[this.dialog.index].email) {
        data.email = this.dialog.email
      }
      const { code, message } = await post('/admin/users/update', data)

      if (code === 0) {
        this.users[this.dialog.index].username = this.dialog.username
        this.users[this.dialog.index].email = this.dialog.email
        this.dialog.open = false
        this.$message.success('用户信息更新成功')
      } else {
        this.$message.warning(message)
      }
    },
    async deleteUser(index) {
      try {
        await this.$confirm(
          '确定要删除这个用户吗？此操作不可撤销。',
          { type: 'warning' }
        )
      } catch {
        return
      }

      const { code, message } = await post(
        '/admin/users/remove',
        { id: this.users[index].id }
      )
      if (code === 0) {
        this.$message.success('用户已被删除')
        this.$delete(this.users, index)
      } else {
        this.$message.warning(message)
      }
    },
  },
  beforeMount() {
    this.fetchData()
  },
}
</script>

<style lang="stylus" scoped>
.el-pagination
  margin-top 10px
</style>
