<template>
  <main>
    <a href="#" class="link-add" @click="dialogSwitch">
      {{ dialog.open ? '-' : '+' }} 新增收货地址
    </a>
    <form v-if="dialog.open" class="dialog-add" @submit.prevent="submitAdd">
      <label>
        <span>收货人姓名：</span>
        <input v-model="dialog.name" type="text" required>
      </label>
      <label>
        <span>收货地址：</span>
        <input v-model="dialog.address" type="text" required>
      </label>
      <label>
        <span>收货人电话：</span>
        <input
          v-model="dialog.phone"
          type="text"
          required
          minlength="7"
          maxlength="11"
        >
      </label>
      <div class="buttons">
        <input type="submit" value="提交" class="btn-submit">
        <button class="btn-cancel" @click="dialog.open = false">取消</button>
      </div>
    </form>
    <ul class="addresses">
      <li>
        <span>收货人姓名</span>
        <span>收货地址</span>
        <span>收货人电话</span>
        <span>操作</span>
      </li>
      <li v-for="address in addresses" :key="address.id">
        <span>{{ address.name }}</span>
        <span>{{ address.address }}</span>
        <span>{{ address.phone }}</span>
        <span>
          <span>修改:</span>
          <button @click="editName(address.id)">姓名</button>
          <button @click="editAddress(address.id)">地址</button>
          <button @click="editPhone(address.id)">电话</button>
          <button class="btn-delete" @click="remove(address.id)">删除</button>
        </span>
      </li>
    </ul>
  </main>
</template>

<script>
import Swal from 'sweetalert2'
import { get, post } from '../common/fetch'

export default {
  data() {
    return {
      addresses: [],
      dialog: {
        open: false,
        name: '',
        address: '',
        phone: '',
      },
      editing: NaN,
    }
  },
  methods: {
    async fetchData() {
      this.addresses = await get('/user/address/list')
    },
    dialogSwitch() {
      if (this.dialog.open) {
        this.dialog.open = false
        return
      }

      this.dialog.name = ''
      this.dialog.address = ''
      this.dialog.phone = ''
      this.dialog.open = true
    },
    async submitAdd() {
      const { code, message, id } = await post('/user/address/add', this.dialog)
      if (code === 0) {
        this.addresses.push({
          id,
          name: this.dialog.name,
          address: this.dialog.address,
          phone: this.dialog.phone,
        })
        this.dialog.open = false
      } else {
        Swal.fire({ type: 'warning', text: message })
      }
    },
    async editName(id) {
      this.editing = this.addresses.findIndex(address => address.id === id)

      const { value } = await Swal.fire({
        type: 'question',
        text: '请输入收货人姓名',
        input: 'text',
        inputValue: this.addresses[this.editing].name,
        showCancelButton: true,
      })
      if (!value) {
        return
      }

      this.submitEdit({ name: value })
    },
    async editAddress(id) {
      this.editing = this.addresses.findIndex(address => address.id === id)

      const { value } = await Swal.fire({
        type: 'question',
        text: '请输入收货地址',
        input: 'text',
        inputValue: this.addresses[this.editing].address,
        showCancelButton: true,
      })
      if (!value) {
        return
      }

      this.submitEdit({ address: value })
    },
    async editPhone(id) {
      this.editing = this.addresses.findIndex(address => address.id === id)

      const { value } = await Swal.fire({
        type: 'question',
        text: '请输入收货人电话',
        input: 'text',
        inputValue: this.addresses[this.editing].phone,
        showCancelButton: true,
      })
      if (!value) {
        return
      }

      this.submitEdit({ phone: value })
    },
    async submitEdit(data) {
      const { code, message } = await post(
        '/user/address/update',
        Object.assign(
          { id: this.addresses[this.editing].id },
          {
            name: this.addresses[this.editing].name,
            address: this.addresses[this.editing].address,
            phone: this.addresses[this.editing].phone,
          },
          data
        )
      )

      if (code === 0) {
        Object.assign(this.addresses[this.editing], data)
      } else {
        Swal.fire({ type: 'warning', text: message })
      }
    },
    async remove(id) {
      const { value } = await Swal.fire({
        type: 'question',
        text: '确定要删除此条目？这个操作不可撤销。',
        showCancelButton: true,
      })
      if (!value) {
        return
      }

      const { code, message } = await post('/user/address/remove', { id })
      if (code === 0) {
        this.$delete(
          this.addresses,
          this.addresses.findIndex(address => address.id === id)
        )
      } else {
        Swal.fire({ type: 'warning', text: message })
      }
    }
  },
  beforeMount() {
    this.fetchData()
  },
}
</script>

<style lang="stylus">
@import '../../stylus/common'

main
  margin-top 20px

.link-add
  color brand_red
  font-size 13px
  &:hover
    text-decoration underline

.dialog-add
  margin 10px 0
  padding 7px 10px
  border 1px solid #ccc
  border-radius 4px
  display flex
  flex-direction column
  font-size 13px
  label
    margin 8px 0
  span
    display inline-block
    width 100px
  input[type="text"]
    padding 7px 10px
    width 20vw
  .buttons
    margin-top 10px
    *
      outline none
      border none
      background none
      margin-right 10px
      &:hover
        text-decoration underline
        cursor pointer
  .btn-submit
    color brand_red
  .btn-cancel
    color #555

.addresses
  list-style none
  border 1px solid #ccc
  width calc(66vw - 200px)
  font-size 13px
  li
    padding 8px
    display flex
    & > *
      width 25%
      overflow-wrap break-word
    button
      outline none
      border none
      background none
      &:hover
        text-decoration underline
        cursor pointer
    .btn-delete
      color brand_red
      margin-left 15px
  li:first-child
    color #555
  li:not(:last-child)
    border-bottom 1px solid #ccc
</style>
