<template>
  <main>
    <div v-if="books.length === 0" class="empty-tip">
      您目前还没收藏任何图书。
    </div>
    <ul v-else class="fav-list">
      <li v-for="book in books" :key="book.id">
        <div><img :src="book.img" :alt="book.name"></div>
        <div class="book-name">
          <a :href="`/book/${book.pivot.book_id}`" target="_blank">{{ book.name }}</a>
        </div>
        <div class="price">￥{{ book.price }}</div>
        <div class="btn-group">
          <a class="btn btn-cart" @click="addToCart(book.pivot.book_id)">加入购物车</a>
          <a class="btn btn-remove" @click="remove(book.pivot.book_id)">删除</a>
        </div>
      </li>
    </ul>
  </main>
</template>

<script>
import Swal from 'sweetalert2'
import { get, post } from '../common/fetch'

export default {
  data() {
    return {
      books: [],
    }
  },
  beforeMount() {
    this.fetchData()
  },
  methods: {
    async fetchData() {
      this.books = await get('/user/favorites/list')
    },
    async addToCart(id) {
      const { code } = await post('/shoppingCart/add', { book: id })
      if (code === 0) {
        Swal.fire({ type: 'success', text: '已放入购物车' })
      }
    },
    async remove(id) {
      const { value } = await Swal.fire({
        type: 'question',
        text: '确定要从收藏中移除这本书吗？',
        showCancelButton: true,
      })
      if (!value) {
        return
      }

      const { code } = await post('/user/favorites/remove', { book: id })
      if (code === 0) {
        this.books = this.books.filter(book => book.pivot.book_id !== id)
      }
    },
  }
}
</script>

<style lang="stylus">
@import '../../stylus/common'

.empty-tip
  text-align center
  width calc(66vw - 176px)
  padding 15vh 0

ul.fav-list
  list-style none
  margin-top 7px
  display flex
  flex-wrap wrap

  li
    padding 20px 30px
    margin 0 1px 1px 0
    border 1px solid #fff
    &:hover
      border 1px solid #e9e9e9
      outline 1px solid #e9e9e9

  img
    max-width 200px
    max-height 200px

  .book-name
    margin-top 5px
    a
      font-size 15px
      color #0080cc
      &:hover
        text-decoration underline

  .price
    color brand_red
    font-size 15px

  .btn-group
    margin-top 10px
    display flex
    justify-content space-between

  .btn
    font-size 12px
    &:hover
      cursor pointer
      text-decoration underline

  .btn-cart
    color #333

  .btn-remove
    color brand_red
</style>
